@use './preset.scss' as preset;

hr{
    margin: 0;
    padding: 0;
    border:none;
    border-bottom: 1px solid rgb(200,200,200);
}

app-panel{
    img{
        flex: 1;
        max-width: 100%;
    }

    div{
        flex: 2;
        flex-direction: row;
        max-width: 100%;
        padding: 8px;
        box-sizing: border-box;
        background: preset.$blue;

        p{
            color:preset.$white;
            font-family: preset.$font;
            font-size: larger;
        }

        h2{
            color: preset.$white;
            font-family: preset.$font;
        }

        div.display{
            flex: 1;
            max-width: 33.3333%;
            background: preset.$white;
            color: preset.$black;

            ul{
                color:preset.$black;
            }
        }

        ul{
            color:preset.$white;
            box-sizing: border-box;
    
            li{
                span{
                    font-weight: bolder;
                    font-size: larger;
                    font-family: preset.$font;
                }
            }
        }
    }
}