@use './preset.scss' as preset;

div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    background: preset.$cthulhu;
    align-items: center;
}